[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
[submodule "openssl-old"]
	path = openssl-old
	url = git@github.com:john-w-phillips/openssl.git
[submodule "openssh-portable"]
	url = git@github.com:john-w-phillips/openssh-portable.git
