[submodule "openssl-old"]
	path = openssl
	url = git@github.com:john-w-phillips/openssl.git
[submodule "openssh-portable"]
	path = openssh-portable
	url = git@github.com:john-w-phillips/openssh-portable.git
